body, html {
	font-family: Verdana;
	background-color: #3a3a3a;
	text-align: center;
}

.center-block {
	margin-left:auto;
	margin-right:auto;
	display:block;
}


/* CSS for responsive logo */
.img-responsive {
	border-radius: 200px;
	margin-top: 100px;
	box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
    text-align: center;
}


/* CSS for "About" links */
#quicklink {
	font-size: 22px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}


/* CSS for "Why Learn Languages" link */
p {
	border-radius: 25px;
	border: 2px solid #0080ff;
	padding: 20px;
}

.why {
	color: white; /* #0080ff */
	font-size: 36px;
	font-weight: bold;
}

a.why:link, visited, active {
	text-decoration: none;
}

a.why:hover {
	text-decoration: none;
	color: #0080ff;
}


/* CSS for the LEARN button and menus */
a.btn:hover {
	text-decoration: none;
	color: white;
}

#learn {
	background-color: #0080ff;
	color: white;
	width: 200px !important;
	height: 50px !important;
	font-size: 30px;
	padding-bottom: 50px;
	border: 0;
}

.dropdown-menu {
	left: 50%;
	right: auto;
	text-align: left;
	transform: translate(-50%, 0);
	width: 200px;
}

.glyphicon-menu-right {
	font-size: 12px;
	float: right;
	margin-top: 2px;
}

.submenu {
	display: none;
	background-color: white;
	font-size: 14px;
	color: black;
	left: 100%;
	text-align: left;
	width: 200px;
}

#spanishmenu {
	transform: translate(0, -101%);
}

#mandarinmenu {
	transform: translate(0, -76%);
}

#frenchmenu {
	transform: translate(0, -51%);
}

#japanesemenu {
	transform: translate(0, -26%);
}

ul ul {
	position: absolute; 
	top: 0; 
	left: 200px; 
	display: none; 
}

ul > li:hover > ul {
	display: block; 
}

