body, html {
	font-family: Verdana;
	background-color: #3a3a3a;
	text-align: center;
}

.center-block {
	margin-left:auto;
	margin-right:auto;
	display:block;
}

.img-responsive {
	border-radius: 200px;
	margin-top: 100px;
	box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
    text-align: center;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

table, th, td {
	border: 2px solid #0080ff;
	padding: 20px;
	border-radius:5px;
}

.why {
	color: white; /* #0080ff */
	font-size: 36px;
	font-weight: bold;
}

a.why:link, visited, active {
	text-decoration: none;
}

a.why:hover {
	text-decoration: none;
	color: #0080ff;
}

a.btn:hover {
	text-decoration: none;
	color: white;
}

#menu1 {
	background-color: #0080ff;
	color: white;
	width: 200px !important;
	height: 50px !important;
	font-size: 30px;
	padding-bottom: 50px;
	border: 0;
}

.dropdown-menu {
	left: 50%;
	right: auto;
	text-align: left;
	transform: translate(-50%, 0);
	width: 200px;
}

.flydown {
	
}

.flydown:hover {
	
}


ul ul {position: absolute; top: -1px; left: 8em; display: none; }
/* sets up all ul elements beneath the parent ul, the -px is to counter the movement forced by the border, bear in mind that the li:first-child doesn't *have* a border, so adjust to taste */

ul > li:hover > ul {display: block; }
/* makes the nested list appear if the parent-li is hovered */
