body,html {
	height:100%;
	margin:0;
	background-color: #99ff99;
	font-family:Verdana, sans-serif;
}

.section {
	width:90%;
	margin-left:5%;
	margin-right:5%;
}

.bottomlinks {
	text-align: center;
}

.links {
	text-decoration: none;
	color:#0080ff;
}

a.links:link, visited, active {
	text-decoration:none;
	color:#0080ff;
}

a.links:hover {
	text-decoration: none;
	color:grey;
}

h1 {
	margin-top:3%;
	margin-bottom:3%;
	margin-left:5%;
}

#home {
	float: right;
	border: 2px solid black;
	display: inline-block;
	border-radius: 5px;
	width: 50px;
	height: 50px;
}

a.home:link, visited, active {
	border-radius: 5px;
	text-decoration: none;
}

a.home:hover {
	
}

.little {
	width: 200px;
	height: 100px;
	background-image: url('littleLOGO3.png');
	background-size: 200px 100px;
    opacity:1;
	position:fixed; 
	bottom:0px; 
	right:0%;
}

