body, html {
	height:100%;
    margin: 0;
    background-color: #ffb566;
    font-family: Verdana, sans-serif;
}
.row {
	display:flex;
	align-items:top;
	margin-left:5%;
	margin-right:5%;
	margin-bottom:3%;
}

	
div.topbuttons{
	margin-left:5%;
	margin-right:5%;
	margin-bottom:3%;
}

#pagetitle {
	display:inline-block;
	margin-left:25%;
	margin-right:25%;
}

div.navbar {
	width: 280px;
	height: 230px;
	margin-top: 5%;
	margin-left: 3%;
	display: inline-block;
}

a.nav {
	font-size: 40px;
    border: 2px solid #fc7623;
    color: #fc7623;
    text-align: center; 
    text-decoration: none;
    line-height: 200px;
    width: 230px;
    height: 100%;
    float: center;
    display: inline-block;
    border-radius: 5px;
}
a.nav:link, visited, active {
	background-image: url('../lightbulb.png');
	background-size: 230px 230px;
	/*#f266ff;*/
}

a.nav:hover {
	color:white;
    background-color: #fc7623;
}

#backbar {
	margin-left: 3%;
	display: inline-block;
	font-size: 30px;
    border: 2px solid #fc7623;
    color: #fc7623;
    text-align: center; 
    text-decoration: none;
    line-height: 75px;
    width: 250px;
    height: 75px;
    align-self: left;
    border-radius: 5px;
    background-color: #ffddba;
}

a.back:link, visited, active {
	text-decoration: none;
}

a.back:hover {
	color: #fc7623;
    
}

#home {
	float: right;
	border: 2px solid #fc7623;
	display: inline-block;
	border-radius: 5px;
	width: 50px;
	height: 50px;
	padding: 5px;
}

a.home:link, visited, active {
	border-radius: 5px;
	text-decoration: none;
}

a.home:hover {
    
}

.divImage {
	float: center;
	margin-left: 3%;
	text-align: left;
	display: inline-block;
	width:33%; 
}

.imgLink {
	border-radius: 8px;

}

a.img {
	display: inline-block;
	text-align: center;
	line-height: 0px;
	border-radius: 10px;
	border: 2px solid #fc7623;
	border-style: outset;
}

a.img:link, visited, active {
	opacity: 0.8;
    
}

a.img:hover {
	opacity:1;
	border-style: inset;
}