body, html {
	height:100%;
    margin: 0 auto;
    background-color: #ffb380;
    color: #cc5200;
    font-family: Verdana, sans-serif;
}

h3 {
	text-align: center;
}

#navbar {
	margin-top: 20px;
	display: flex;
    align-items: top;
    text-align:center;
	width: 100%;
}

div.nav {
	width: 280px;
	height: 230px;
	margin-top: 5%;
	margin-left:auto;
	margin-right:auto;
	display: inline-block;
}

a.nave {
	font-size: 40px;
    border: 2px solid #cc5200;
    color: #cc5200;
    text-align: center; 
    text-decoration: none;
    line-height: 200px;
    width: 230px;
    height: 100%;
    float: center;
    display: inline-block;
    border-radius: 5px;
}
a.nave:link, visited, active {
	background-image: url('../lightbulb.png');
	background-size: 230px 230px;
	color: #cc5200;
}

a.nave:hover {
	color:white;
    background-color: #cc5200;
}

#bar {
	width: 100%;
	height: 10%;
}

#backbar {
    float: left;
	display: inline-block;
	font-size: 20px;
    border: 2px solid #cc5200;
    text-align: center; 
    text-decoration: none;
    line-height: 50px;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background-color: #ffa366;
}

#backbar:hover {
	background-color: #cc5200;
	color:white;
}

a.back:link, visited, active {
	color: #cc5200;
	text-decoration: none;
}

a.back:hover {
	background-color: #cc5200;
}

#title {
	width: 100%;
	color: #cc5200;
	display: inline-block;
	text-align: center;
}

h1 {
	margin: 0px;
}

.hint {
	font-size: 12px;
}

#home {
	float: right;
	border: 2px solid #cc5200;
	display: inline-block;
	border-radius: 5px;
	padding: 5px;
}

a.home:link, visited, active {
	border-radius: 5px;
	text-decoration: none;
}

a.home:hover {
    
}

.divDiv {
	margin-top: 20px;
	display: flex;
    align-items: top;
    text-align:center;
}

.divImage {
	float: center;
	text-align: left;
	display: inline-block;
	width:360px; 
	margin-left:auto;
	margin-right:auto;
	margin-top: 5%;
}

.imgLink {
	border-radius: 8px;

}

a.img {
	display: inline-block;
	text-align: center;
	line-height: 0px;
	border-radius: 10px;
	border: 2px solid #cc5200;
	border-style: outset;
}

a.img:link, visited, active {
	opacity: 0.8;
    
}

a.img:hover {
	opacity:1;
	border-style: inset;
}

#foot {
	bottom:0px;
	display: flex;
    align-items: bottom;
    align-items: center;
    text-align: center;
    background-color:white;
    margin-top:5%;
    width: 100%; 
    background-color: #f1f1c1;
    padding:10px;
}

.toe {
	float: center;
	display: inline-block;
	width:100px; 
	margin: auto;
}

a.spanish:link {
	text-decoration: none;
	font-size: 12px;
	color:green;
}

a.spanish:visited {
	text-decoration: none;
	color:green;

}

a.spanish:hover {
	text-decoration: none;
	color:black;

}

a.spanish:active {
	text-decoration: none;
	color:green;

}

a.japanese:link {
	text-decoration: none;
	font-size: 12px;
	color:purple;
}

a.japanese:visited {
	text-decoration: none;
	color:purple;

}

a.japanese:hover {
	text-decoration: none;
	color:black;

}

a.japanese:active {
	text-decoration: none;
	color:purple;

}

a.french:link {
	text-decoration: none;
	font-size: 12px;
	color:orange;
}

a.french:visited {
	text-decoration: none;
	color:orange;

}

a.french:hover {
	text-decoration: none;
	color:black;

}

a.french:active {
	text-decoration: none;
	color:orange;

}

a.mandarin:link {
	text-decoration: none;
	font-size: 12px;
	color:red;
}

a.mandarin:visited {
	text-decoration: none;
	color:red;

}

a.mandarin:hover {
	text-decoration: none;
	color:black;

}

a.mandarin:active {
	text-decoration: none;
	color:red;

}

.little {
	width: 200px;
	height: 100px;
	background-image: url('../littleLOGO3.png');
	background-size: 200px 100px;
	position:fixed; 
	bottom:0px; 
	right:0%;
}