body, html {
    height: 100%;
    margin: 0;
    background-color: #4dff4d;
    font-family: Verdana, sans-serif;
}

div.navbar {
	width: 280px;
	height: 230px;
	margin-top: 5%;
	margin-left: 3%;
	display: inline-block;
}

a.nav {
	font-size: 40px;
    border: 2px solid #004d00;
    color: #004d00;
    text-align: center; 
    text-decoration: none;
    line-height: 200px;
    width: 230px;
    height: 100%;
    float: center;
    display: inline-block;
    border-radius: 5px;
}
a.nav:link, visited, active {
	background-image: url('../lightbulb.png');
	background-size: 230px 230px;
}

a.nav:hover {
	color: white;
    background-color: #008000;
    border: 2px solid #008000;
}

#backbar {
	margin-left: 3%;
	display: inline-block;
	font-size: 30px;
    border: 2px solid #004d00;
    color: #004d00;
    text-align: center; 
    text-decoration: none;
    line-height: 75px;
    width: 300px;
    height: 75px;
    align-self: left;
    border-radius: 5px;
    background-color: #00cc00;
}

a.back:link, visited {
	text-decoration: none;
	color: #004d00;
}

a.back:hover {
	color: #FFFFFF;
}

a.back:active {
	color: #004d00;
}

#home {
	float: right;
	border: 2px solid #004d00;
	display: inline-block;
	border-radius: 5px;
	width: 50px;
	height: 50px;
	padding: 5px;
}

a.home:link, visited, active {
	border-radius: 5px;
	text-decoration: none;
}

a.home:hover {
    
}

.divDiv {
	display: flex;
    align-items: top;
}

.divImage {
	float: center;
	margin-left: 3%;
	margin-top: 5%;
	text-align: left;
	display: inline-block;
	width:360px; 
}

.imgLink {
	border-radius: 8px;
	background-color: white;
}

a.img {
	display: inline-block;
	text-align: center;
	line-height: 0px;
	border-radius: 10px;
	border: 2px solid #004d00;
	border-style: outset;
}

a.img:link, visited, active {
	opacity: 0.8;
    
}

a.img:hover {
	opacity:1;
	border-style: inset;
}


