body, html {
    height: 100%;
    margin: 0;
    background-color: #e18cff;
    font-family: Verdana, sans-serif;
}

div.navbar {
	width: 40%;
	height: 20%;
	margin-top: 5%;
	margin-left: 3%;
	display: inline-block;
}

a.nav {
	font-size: 40px;
    border: 2px solid #700096;
    color: #700096;
    text-align: center; 
    text-decoration: none;
    line-height: 100px;
    width: 250px;
    height: 100px;
    float: center;
    display: inline-block;
    border-radius: 5px;
}
a.nav:link, visited, active {
	background-color: #f266ff;
}

a.nav:hover {
	color:white;
    background-color: #700096;
}

#backbar {
	margin-left: 3%;
	display: inline-block;
	font-size: 30px;
    border: 2px solid #700096;
    color: #700096;
    text-align: center; 
    text-decoration: none;
    line-height: 75px;
    width: 300px;
    height: 75px;
    align-self: left;
    border-radius: 5px;
    background-color: #f266ff;
}

a.back:link, visited, active {
	text-decoration: none;
}

a.back:hover {
	color: #700096;
    
}

#home {
	float: right;
	border: 2px solid #700096;
	display: inline-block;
	border-radius: 5px;
	width: 50px;
	height: 50px
	padding: 5px;
}

a.home:link, visited, active {
	border-radius: 5px;
	text-decoration: none;
}

a.home:hover {
    
}

.divImage {
	float: center;
	margin-left: 3%;
	margin-top: 5%;
	text-align: left;
	display: inline-block;
	width:360px; 
}

.imgLink {
	border-radius: 8px;

}

a.img {
	display: inline-block;
	text-align: center;
	line-height: 150px;
	border-radius: 10px;
	border: 2px solid #700096;
	border-style: outset;
}

a.img:link, visited, active {
	opacity: 0.8;
    
}

a.img:hover {
	opacity:1;
	border-style: inset;
}
